body {
  font:15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #548dff;
}
ul{
  margin: 10 0 0 0;
  padding: 0;
}

/* texts */
homeheader{
  font-size: 30px;
  font-weight: bold;
}

/* containers here */
	.container {
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
		margin-top: 0px;
		padding-top: 0px;
	}

div.textboxleft{
  margin: 300px 50px 50px 50px;
  padding: 20px 20px 20px 20px;
  background-color: #848484;
  border: 5px solid grey;
  background-color:rgba(0,0,255,0.5);
  float: left;
  text-align: left;
	width: 700px;
}

div.textbox{
	margin: auto;
  padding: 20px 20px 40px 20px;
  background-color: #848484;
  border: 5px solid grey;
  background-color:rgba(0,0,255,0.5);
  text-align: left;
	width: 1000px;
}


div.textboxright{
  margin: 200px 50px 50px 50px;
  padding: 20px 20px 20px 20px;
  background-color: #848484;
  border: 5px solid grey;
  background-color:rgba(255,0,0,0.5);
  float: right;
  height: 300px;
  width: 800px;
  text-align: left;
  
}

/* header */
header{
  background: #353637;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #32a0c2 3px solid;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1{
  margin:0px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #548dff;
}

header a:hover{
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: #548dff;
}

/* nav */
.nav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
  
}

.dropdown .dropbtn {    
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 2px 0 0 0;
}

.nav a:hover, .dropdown:hover .dropbtn {
    text-color: #548dff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #353637;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #ffffff;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #353637;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#sectionclass {
	min-height: 700px;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

#front {
  min-height: 700px;
	background:url('../images/engineeringlabblur1.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;

}

#middle {
  min-height: 700px;
  background:url('../images/sampleimage1.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

#bottom {
  min-height: 700px;
  background:url('../images/sampleimage1.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

image.logo {
	float:left;
	margin-top: -20;
	padding-top: -20;
}

div.bigdiv {
	margin: auto;

  background-color:  #353637;
  border: 5px solid grey;
  background-color:rgba(0,0,255,0.5);
  padding: 20px 20px 50px 0px;  text-align: left;
	width: 1350px;
}


img.right{
	float: right;
	margin: 0px, 50px, 50px, 50px; 
	padding: 30px, 30px, 30px, 30px;
}


footer{
	background-color: #353637;
	color: white;
	font-size: 14px;
	text-align: center;
	bottom: 0px;
	height: 90px;
}


/* Goto Next */

.arrow{
	position: absolute;
	bottom: 0px;
}

/* subpages */

.allContent{
	padding: 15px;
	margin: 30px 50px 50px 50px;
  background-color: #353637;
	text-color: #ffffff;
  border: 5px solid grey;
	margin-bottom: 50px;
}

h2{
	font-size: 45px;
	border-bottom: 3px solid blue;
}

/* 3 column layout */
.column1{
	float: left;
	width:28%;
	padding: 0px 5px 10px 10px;

}

.column2{
	display: inline-block;
	width:38%;
	padding: 0px 5px 10px 10px;

}

.column3{
	float: right;
	width: 28%;
	padding: 0px 5px 10px 10px;

}
/*
footer.subpage{
	position: absolute;
	bottom: 0px;
	padding: 10px;
}

/* Officer Team Page */
.officer {
	float: 
}